* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	background-color: #7f8c8d;
	color: #2c3e50;
}

header {
	padding: 1em;
	border-bottom: 4px solid #2c3e50;
	box-shadow: 0 0 1px #2c3e50;
	background: white;
}

#whiteboard {
	display: block;
	margin: 8px auto;
	box-shadow: 0 0 1px #2c3e50;
	background: white;
}